<div class="editBox" *ngIf="eventCopy else addEventButton">
	<h2>Detalhes do evento</h2>
	<div class="editTime">
		<label>Duração do evento:
			<input class="timeInput" [owlDateTime]="dt0" [owlDateTimeTrigger]="dt0" [(ngModel)]=eventCopy.timeSlot [selectMode]="'range'" placeholder="Data/Horário" />
			<owl-date-time #dt0 ></owl-date-time>
		</label>
		<p><span *ngIf="timeConflict" style="color:red;">Conflito de horários</span></p>
	</div>
	<div class="editDescription">
		<label>Descrição:
			<textarea [(ngModel)]="eventCopy.description" placeholder="Descreva o evento aqui"></textarea>
		</label>
	</div>

	<button *ngIf="isAddition else editButton" (click)="addThisEvent()">Salvar</button>
	<ng-template #editButton>
		<button (click)="updateThisEvent()">Salvar</button>
		<button (click)="deleteThisEvent()">Apagar</button>
	</ng-template>
	<button (click)="closeDetails()">Fechar</button>
</div>
<ng-template #addEventButton>
	<button (click)="addNewEvent()">Novo</button>
</ng-template>
