nav{
	display: block;
  background-color:#405061;
  border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: .5em;
}
nav > a{
	color: white;
}
.editBox{
  width: 19em;
	text-align: center;
  background-color: #EEE;
  margin: .5em;
  padding: 1em;
  border-radius: 4px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.inputLine{
	display:flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin: 1em;
	width: 95%;
}
.inputLine > input{
	margin-left: 1em;
}
