<div class="editBox" *ngIf="isLoggedIn else loginScreen">
	<h2>Bem vindo!</h2>
	<nav>
		<a routerLink="/events">Lista</a>
	</nav>
	<button (click)="tryLogout()">logout</button>
</div>
<ng-template #loginScreen>
	<div class="editBox">
		<h2>Faça o login:</h2>
		<p><span *ngIf="failedLogin" style="color:red">Combinação de usuário e senha incorreta</span></p>
		<div class="inputLine">
			<strong>Usuário:</strong>
			<input [(ngModel)]="username" type="text" />
		</div>
		<div class="inputLine">
			<strong>Senha:</strong>
			<input [(ngModel)]="password" type="password" />
		</div>
		<button (click)="tryLogin()">login</button>
	</div>
</ng-template>
